.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/Flutter/ephemeral/
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/
.DS_Store
